.main{
    padding-top:100px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 20px;
    height: 600px;
    
}
.mainText h1{
    font-size: 80px;
    width: 650px;
    text-align: left;
    line-height: 80px;
    
}
.containterShoe{
    width: 400px;
    height: 400px;
    background-color: #E04646;
    border-radius: 100%;
    position: relative;
}
.containerBlue{
    background-color: #4b46e0;
}
.containerGreen {
    background-color: #22bd6d;
}
.containerPurpole {
    background-color: #8c4071;
}
.containterShoe img{
    width: 500px;
    transform: rotate(-26deg);
    position: absolute;
    right: -30px;

    top: 100px;


}
.grayPart{
    color: #a3a2a2;
}
.containerDots{
    background-color: rgb(232, 232, 232);
    width: 150px;
    height: 30px;
    border-radius: 100px;
    display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-content: space-around;
        padding: 0 5px 0 5px;
        margin: auto;
}
.containerDots span{
    width: 15px;
    height: 15px;
    border-radius: 20px;
}
.blue.active,.green.active,.red.active,.purpule.active{
    width: 20px;
    height: 20px;
    border: solid 3px rgb(255, 255, 255);
}
.blue{
    background-color: #47A7ED;
}
.green {
    background-color:#42CB81;
}
.red {
    background-color:#E04646;
}
.purpule{
    background-color: #CC53E8;
}
.price{
    position: absolute;
    right: -50px;
    top: -20px;
    line-height: 5px;

}
.price p{
    text-decoration:line-through;
}
.price h1{
        font-weight: 800;
}